.aboutme {
    padding: 20px;
    background-color: rgba(204, 245, 201, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black; 
}

.section-box {
    margin-bottom: 30px;
}

.section-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.section-content {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #120c0c;
}

.section-content p {
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}





@media only screen and (max-width: 768px) {
    .aboutme {
      width: 80%;
      padding: 15px;
      border-radius: 10px;
      margin: 10px auto;
    }
  
    .section-heading {
      font-size: 20px;
    }
  
    .section-content {
      font-size: 14px;
    }
  }
  

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    .aboutme {
        width: 70%;
        padding: 15px;
        margin: 20px auto;
    }
    
    .section-heading {
        font-size: 22px;
    }
    
    .section-content {
        font-size: 15px;
    }
}
