body{
    background-color:rgb(225, 222, 222);
}


.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.hero {
    position: relative;
    height: 200px; 
    background-image: url('/src/assets/background_image.jpg'); 
    background-size: cover;
    background-position: center;
}
.page{
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    
}

.skilltags{
 display: flex;
 flex-wrap: wrap;
 list-style-type: none;
}

.tag{
    border-radius: 20px;
    padding: 5px 12px 5px 12px;
    font-weight: 600;
    font-size: small;
    color: white;
    background-color: rgb(13, 127, 72);
    margin-right: 10px;
}


.content {
    margin-top: 5px; 
    overflow-y:auto;
    height:calc(100vh - 200px);
    flex: 1; 
  }



  
