/* Default styles */
.home-page {
    margin-top: 5px;
}

.reveal-container{
    position:relative
}
.aboutme {
    background-color: rgb(207, 207, 226);
    border-radius: 15px;
    width: 45%;
    margin: 20px;
    text-align:left;
    margin-left:150px;
}

.skills {
    background-color:rgb(207, 207, 226);
    border-radius: 15px;
    width: 30%;
    margin: 20px;
    text-align: left;
    padding: 20px;
    
}

.container {
    display: flex; 
    justify-content: space-between; 
    width: 90%; 
    margin-right:200px;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    /* Styles for large laptops */
    .name-card {
        margin-left: 300px; /* Adjust as needed */
    }
}

@media screen and (max-width: 768px) {
    /* Styles for small displays */
    .container {
        flex-direction: column; /* Stack items vertically */
    }
}

@media screen and (max-width: 480px) {
    /* Styles for mobiles */
    .aboutme, .skills {
        width: 90%; /* Adjust as needed */
    }
}




/* name-card rgba(255, 255, 255, 0.8); */