

.home-page {
    margin-top: 5px;
}

.reveal-container {
    position: relative;
}

.aboutme {
    background-color: rgb(207, 207, 226);
    border-radius: 15px;
    width: 45%;
    margin: 20px;
    text-align: left;
    margin-left: 150px;
}

.skills {
    background-color: rgb(207, 207, 226);
    border-radius: 15px;
    width: 30%;
    margin: 20px;
    text-align: left;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 200px;
}






@media screen and (max-width: 1200px) {


    .name-card {
        margin-left: 150px;
    }
}

/* Adjusts the layout for smaller screens */
@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* Stacked layout */
      align-items: center; /* Center alignment */
      justify-content: center; /* Center the container */
      
    }
  
    .aboutme{
        width: 80%;
        margin-left:55px;
        padding: 15px; 

    }
    
    .skills {
      width: 80%; 
      margin:unset;
      padding: 15px;
    }
  
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .container {
        flex-direction: column; /* Stacked layout for iPad and Nest Hub screens */
        align-items: center;   /* Center alignment */
    }

    .aboutme {
        width: 70%; /* Slightly narrower for better fit */
        margin-left: unset; /* Center alignment */
        margin: 20px auto;  /* Auto-margin to keep centered */
    }
    
    .skills {
        width: 70%; /* Slightly narrower to avoid thin cards */
        padding: 15px; /* Adjusted padding */
        margin: 20px auto; /* Centered margin */
    }
}

  