
.home-page {
    margin-top: 5px;
}

.reveal-container{
    position:relative
}
.aboutme {
    background-color: rgb(207, 207, 226);
    border-radius: 15px;
    width: 45%;
    margin: 20px;
    text-align:left;
    margin-left:150px;
}

.skills {
    background-color:rgb(207, 207, 226);
    border-radius: 15px;
    width: 30%;
    margin: 20px;
    text-align: left;
    padding: 20px;
    
}

.container {
    display: flex; 
    justify-content: space-between; 
    width: 90%; 
    margin-right:200px;
}


@media screen and (max-width: 1200px) {
   
    .name-card {
        margin-left: 300px; 
    }
}

@media screen and (max-width: 768px) {
   
    .container {
        flex-direction: column; 
    }
}

@media screen and (max-width: 480px) {
    
    .aboutme, .skills {
        width: 90%; 
    }
}


