.leetcode-solved {
    background-color: rgb(207, 207, 226);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 25%;
    text-align: left;
  }
  
  .leetcode-solved h2 {
    font-size: 24px;
    color: #333;
  }
  
  .leetcode-solved p {
    font-size: 16px;
    color: #120c0c;
    line-height: 1.5;
  }
  