/* Default styling */
.name-container {
  display: flex;
  flex-direction: column; /* Make elements stack vertically */
  align-items: center; /* Center alignment */
  justify-content: center; /* Center within the container */
  padding: 10px;
}

.name-text {
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
  align-items: center; /* Center alignment */
}

.name-title {
  font-family: 'Roboto Black', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #000;
}

.role-text {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #666;
  margin-top: 10px;
}

.social-links {
  display: flex; /* Keep the links in a row */
  gap: 10px; /* Space between links */
  justify-content: center; /* Center alignment */
}

/* Media queries for different screen sizes */

/* Tablets and smaller desktops */
@media screen and (max-width: 1200px) {
  .name-title {
    font-size: 2em; /* Slightly smaller font size */
  }

  .role-text {
    font-size: 1.6em; /* Slightly smaller font size */
    margin-top: 8px;
  }

  
}

/* Tablets and large smartphones */
@media screen and (max-width: 768px) {
  .name-title {
    font-size: 1.8em; /* Further reduced font size */
  }

  .role-text {
    font-size: 1.5em; /* Further reduced font size */
    margin-top: 6px;
  }

  .social-links {
    justify-content: center; /* Ensure links are centered */
    gap: 5px; /* Maintain space between links */
    flex-direction: row; /* Keep them in a row */

  }
}

/* Smaller smartphones */
@media screen and (max-width: 480px) {
  .name-title {
    font-size: 1.5em; /* Further reduced font size */
  }

  .role-text {
    font-size: 1.1em; /* Further reduced font size */
    margin-top: 3px;

  }

  .social-links {
    justify-content: center; /* Center align the links */
    gap: 2px; /* Maintain space between links */
    flex-direction: row; /* Keep them in a row */
  }
}
