.navbar {
  background-color: #e7e5ea; /* Light lavender color */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem; /* Adjust icon size as needed */
  color: #7f51ad; /* Color of the icon */
  margin-right: 10px;
  margin-left:140px;
}

.navbar-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #7f51ad;
}

.navbar-right {
  display: flex;
}

.nav-item {
  color: #0b0b0b;
  text-decoration: none;
  padding: 15px;
  border-radius: 50px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.nav-item:hover,
.nav-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #7f51ad; /* Border color on hover and when active */
  font-weight: 500;
}

.nav-item.active {
  color: #7f51ad; /* Red color similar to Marvel's logo */
}

