.navbar {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
  }
  
  .nav-item {
    color: rgb(136, 136, 136);
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-item.active {
    background-color: rgba(64, 163, 55, 0.5);
    color: rgb(255, 255, 255);
  }

@media only screen and (max-width: 700px) {
    .navbar {
      padding: 5px;
    }
  
    .nav-item {
      padding: 5px 10px;
      margin-right: 5px;
    }
  }
  
  