.project-detail {
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background: rgb(225, 222, 222);
    position: relative;
  }
  
  .project-card {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background: rgb(198, 198, 220);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }


  .project-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .project-name {
    font-size: 1.5em;
    text-align: center;
  }
  
  .project-content {
    text-align: left;
  }
    
  .project-features {
    margin-bottom: 10px;
    margin-right:30px
  }
  
  .project-tags {
    margin-bottom: 20px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag {
    padding: 5px 10px;
    background: #587ba0;
    border-radius: 5px;
  }
  
  .github-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .github-link:hover {
    color: #000;
  }
  
 
  .project-image {
    margin-top: 20px;
  }
  
  .square-image {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
  }
  

  .feature-list {
  list-style: none;
  padding-left: 0;
}

.feature-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.feature-icon {
  margin-right: 10px;
  color: #587ba0;
  font-size: 1.2em;
  vertical-align: middle;
  position: relative;
  top: 0.1em;
}
