


.skills-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(207, 207, 226);/* Light background for the card */
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
    width: 80%;
    border: 1px solid black;
  }
  
 
  .skills-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
 
  .skills-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
  }
  
 
  .skill-item {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(134, 151, 168, 0.1);
    border: 1px solid #ddd;
  }
  
 
  .skill-item:hover {
    box-shadow: 0 8px 16px rgba(134, 151, 168, 0.2);
  }
  
 
  .skill-item img {
    width: 35px;
    height: 35px;
  }
  
 
  .skill-item p {
    margin-top: 10px;
    font-size: 0.7rem;
    color: #555;
  }
  