

.work-card {
  width: 1000px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
  margin-left: 215px;
  background: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.company-logo {
  max-width: 50px;
  height: auto;
  margin-top: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  display: inline-block;
  background-color: #587ba0;
  border-radius: 5px;
  padding: 5px 10px;
}

.role {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.achievement-list {
  list-style: none;
  padding-left: 0;
}

.achievement-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.achievement-icon {
  margin-right: 8px;
  font-size: 1.2em;
  color: #587ba0;
}




@media (max-width: 992px) {
  .work-card {
    width: 80%;
    margin-left: 0;
  }

  .card-header {
    gap: 5px;
  }

  .left-side {
    align-items: center;
    justify-content: flex-start;
  }

  .right-side {
    align-items: flex-end;
  }

  .tags {
    gap: 5px;
  }
}


@media (max-width: 576px) {
  .work-card {
    width: 100%;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .left-side {
    text-align: left;
  }

  .right-side {
    align-items: flex-start;
    gap: 10px;
  }

  .company-logo {
    max-width: 30px;
  }

  .tags {
    gap: 5px;
  }
}
